doctype html
html(lang='en')
    head
        title Auth intro
        
    body
        block content

            if user.email === 'Guest'
                h1 Hello, #{user.email}
                form(action='/login' method='GET')
                    .input-group
                        input(type='submit' value='Login')
            else
                h1 Hello, #{user.email}
                form(action='/logout?_method=delete' method='POST')
                    .input-group
                        input(type='submit' value='Logout')
