extends index.jade
block content
    form(action='/login' method='POST')
        .input-group
            label(for='email') Email: 
            input#email(type='email' name='email' autofocus required)
        .input-group
            label(for='password') Password: 
            input#password(type='password' name='password' required)
        .input-group
            input(type='submit' value='Login')
        
        button: a(href='register') Register
        
        p= message
