extends index.jade
block content
    form(action='/register' method='POST')
        .input-group
            label(for='email') Email: 
            input#email(type='email' name='email' autofocus required)
        .input-group
            label(for='password') Password: 
            input#password(type='password' name='password' required)
        .input-group
            label(for='passwordVerify') Verify password: 
            input#passwordVerify(type='password' name='passwordVerify' required)
        .input-group
            input(type='submit' value='Register')
        
